
<div class="container">
    <div class="uk-card uk-card-body" data-cat="{{items.dataValues.CategoryId}}">
        <h3 class="uk-card-title">{{items.dataValues.title}}</h3>
        <p>${{items.dataValues.price}}</p>
        <img src=`{{{dataValues.img}}}` alt="Item Image"/>
        <p>{{items.dataValues.post}}</p>
    </div>
</div>